@model TrainingViewModel

@{
    if (Model.TrainingType == TrainingType.Strength)
    {
        foreach (var round in Model.Rounds)
        {
            <p>@round.Exercise.Name</p>
            for (int i = 1; i <= round.Sets.Count; i++)
            {
                <p>Set @i : @round.Sets[i - 1].Weight</p>
            }
        }
    }

    else if (Model.TrainingType == TrainingType.Cardio)
    {
        <b>@Model.Date.ToLongDateString()</b>
        <br />
        <br />
        <b>Exercise</b>
        <p>@Model.Exercise.Name</p>
        <b>Distance</b>
        <p>@Model.Distance</p>
        <b>Time</b>
        <p>@Model.Minutes:@Model.Seconds</p>
    }

    else
    {
        <p>Something went wrong</p>
    }
}