@model TrainingViewModel

@{
    if (Model.TrainingType == TrainingType.Strength)
    {
        foreach (var round in Model.Rounds)
        {
            <p>@round.Exercise.Name</p>
            for (int i = 1; i <= round.GetSets().Count; i++)
            {
                <p>Set @i : @round.GetSets()[i - 1].Weight</p>
            }
        }
    }

    else if (Model.TrainingType == TrainingType.Cardio)
    {
        <p>@Model.Date.ToLongDateString()</p>
        <p>@Model.Exercise.Name</p>
        <p>@Model.Distance</p>
        <p>@Model.Time</p>
    }

    else
    {
        <p>Something went wrong</p>
    }
}